@model IEnumerable<DAL.Models.AppUser>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Users</h1>

<p>
    <a asp-action="CreateUser" style="margin-right:20px">Create New</a>
    <a asp-action="CreateRole">Create Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
      
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.UserName</td>
                <td>@item.Email</td>
              
                <td>
                    <form asp-action="DeleteUser" asp-route-id="@item.Id">
                        <a class="btn btn-warning" asp-action="EditUser" asp-route-id="@item.Id">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td></td>
            </tr>
        }

    </tbody>
</table>
